
    .sierpinski.Row, .sierpinski.Row tr, .sierpinski.Row td,
    .sierpinski.Column, .sierpinski.Column tr, .sierpinski.Column td,
    .sierpinski.Table, .sierpinski.Table tr, .sierpinski.Table td {
        border: none;
        padding: 2px;
        margin: 0px;
    }


    div.output_subarea > .sierpinski.Row {
        margin-left: 0;
    }

    
    .sierpinski.Table {
        display: inline-block;
    }

    div.output_area .sierpinski.Row {
        margin-left: auto;
        margin-right: auto;
    }


    .sierpinski.Frame {
        border: 1px solid darkgray;
        // display: table-cell;
        display: inline-block;
    }



    .link {
      fill: none;
      stroke: #666;
      stroke-width: 1.5px;
    }

    #licensing {
      fill: green;
    }

    .link.licensing {
      stroke: green;
    }

    .link.resolved {
      stroke-dasharray: 0,2 1;
    }

    .sierpinski.Graphics {
        width: 300px;
        height: 260px;
    }

    .sierpinski.List .sierpinski.Graphics,
    .sierpinski.Row .sierpinski.Graphics,
    .sierpinski.Column .sierpinski.Graphics,
    .sierpinski.Table .sierpinski.Graphics {
        width: 100px;
        height: 100px;
    }

    .sierpinski.Graph {
        /* border: 1px dotted black; */
        display: inline-block;
        width: 400px;
        height: 360px;
    }

    .sierpinski.Table .sierpinski.Graph {
        width: 180px;
        height: 160px;
    }

    .sierpinski.Graph.node {
      fill: #ccc;
      stroke: #333;
      stroke-width: 1px;
    }

    graphtext {
      font: 10px sans-serif;
      pointer-events: none;
      text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    }

    /* headers */
    h1, h2, h3, h5 {
        color: black;
        text-align: left;
        font-family: monospace;
        margin: 2px;
    }

    h1 { font-size: 2em; }
    h2 { font-size: 1.42em; display: inline; }
    h3 { padding-left: .6em; font-style: italic; }
    h5 { font-family: inherit; font-weight: normal; font-size: 1.05em; }


    /* links */
    a { text-decoration: none; }
    a:hover { text-decoration: underline; }
    .header a:hover {
        text-decoration: none;
        border-bottom: 1px dashed #DDD;
        border-top: 1px dashed #DDD
    }

    h1 a { color: black; }
    h1 a:hover { text-decoration: none; }

    .links:last-child { margin: 10px; margin-top: 0px; }

    .links { margin: 10px; }

    .pagelink {
        color: black;
        font-size: 1.8em;
        padding-left: 2px;
        padding-right: 2px;
    }

    .inactivePagelink { color: gray; text-decoration: underline; }


    /* images */
    a img { margin-left: 4px; margin-right: 4px }

    .imageRegion {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        text-align: center;
    }

    .imageRegion img {
        padding: 1px;
        border: solid 1px #DDDDDD;
    }

    .header + .imageRegion { padding-top: 4px; }
    p + .imageRegion { padding-top: 4px; }

    a img:hover { background: #DDDDDD; }


    /* content */
    .content {
        color: black;
        text-align: left;
        font-family: Verdana;
        line-height: 1.35;
        font-weight: normal;
        width: 760px;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        padding-top: 12px
    }

    .section {
        border-top: dotted gray 1px;
        color:black; padding: 15px
    }

    .header { margin-bottom: 1em; }

    p { font-size: 1.2em; }


    /* lists */
    li {
        list-style-type: disc;
        font-size: 1.1em;
        padding: 1px;
    }

    li ul { margin-bottom: 3px; }
    li ul li { font-size: 1em; }

    li ul { margin-top: 3px; }

    li p {
        font-size: 1.1em;
    }


    /* flipbook */ /* static */
    ol.flipbook.static li { list-style-type: none; }
    ol.flipbook.static li+li { margin-top: 1em; }

    ol.flipbook h4 {
        font-size: 1.1em;
        font-weight: normal;
    }

    ol.flipbook.static h4:after { margin-left: -.25em; content: ":"; }


    /* flipbook */ /* live */
    ol.flipbook.live li {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
    }

    ol.flipbook.live {
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
    }

    ol.flipbook p {
        text-align: left;
    }

    ol.flipbook pre {
        text-align: left;
    }

    /* flipbook buttons */
    .buttonDiv {
        position: relative;
        /* width: 22em; */
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        top: -20px;
        left: 0px;
        /* background: orange; */
        opacity: .9; /* not that important, so keeping it simple */
    }

    /*
    .buttonDiv {
        position: relative;
        z-index: 0;
    }
        */


    .buttonDiv button {
        bottom: 5em;
        position: relative;
        height: 3em;
        width: 4.5em;
    }

    /* flipbook tabs */
    .tab {
        bottom: 3.5em;
        position: relative;
        font-size: small;
        display: inline;
        background: #DDDDDD;
        cursor: pointer;
        top: -20px;
        padding: 3px;
        padding-left: 6px;
        padding-right: 6px;

        /* quick way of making it so that the tabs don't
         * have any `mouseleave` spaces between them */
        border-color: white;
        border-style: solid;
        border-width: 2px;
        border-top: default;
        border-bottom: default;
    }

    .underDiv {
        position: relative;
        top: 0px;
        left: 0px;
        /*background: red;*/
    }

    /* flipbook links */
    .liveLink {
        background: rgb(257,206,247);
        padding-right: 2px;
        padding-left: 2px;
        border: dashed 1px lightgray;
        border-bottom: double 1px lightgray;
        cursor: pointer;
    }

    .liveLink .liveLink {
        background: inherit;
        padding-right: -2px;
        padding-left: -2px;
        border: none;
        border-bottom: none;
        cursor: inherit;
    }

    .tab.hovering, .liveLink.hovering { background: rgb(237,156,247); }
    .tab.selected, .liveLink.selected { background: gold; }


    /* code blocks */
    /* auto-generated by Vim */
    /*
    pre { padding: 4px; background: #F9F9F9; font-size: 1.2em; line-height: 1.35; font-family: Consolas, Andale Mono, monospace; color: #000000; }
    .Normal { color: #000000; }
    .Comment { color: #008000; }
    .Delimiter { color: #ff00ff; }
    .Statement, .Identifier, .Function, .PreProc, .lnr { color: #800052;}
    .DiffText { background: orange; }
    .Todo { background: yellow; }
    /* pre .Type { color: brown; } */
    /*
    .String { color: #000080; }
    .Constant { color: #800000;}
    .Special { color: #ff00ff; }
    /* pre .PreProc { font-weight: bold; } */


    /* correctors */
    .tab + p {margin-top: -2.1em;}
    .buttonDiv + p {margin-top: -1em;}
    /* .buttonDiv + p {margin-top: -2.1em;} */


    /* modifiers */
    .centered { text-align: center }
    .noborders img { border: none; }


    /* left-right frame */

    .leftframe
    {
        position: fixed;
        width: 60px;
        background: #fdfdfd;
    }

    .leftframe.active
    {
        background: #fafafa;
    }

    .leftframe div
    {
        display: inline;
        padding: 1px;
    }

    .leftframe.active div
    {
        background: #fafafa;
        padding: 1px;
    }

    .leftframe div a
    {
        color: lightgray;
        line-height: 1.1em;
        font-size: 3em;
    }
